<div class="overlay" [class.show]="isOpen" (click)="isOpen = false"></div>

<aside class="sidebar" [class.open]="isOpen">
  <ul class="list">
    @for (item of menuItems; track $index) {
    <li class="list-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
      <a [routerLink]="item.path" (click)="setActive($index)">
        <img [src]="'assets/icons/' + item.icon + '.svg'" [attr.alt]="item.label" [attr.title]="item.label" width="24" height="24" />
        <span>{{ item.label }}</span>
      </a>
    </li>
    }
  </ul>

  <div class="sidebar__divider"></div>

  <ul class="list">
    @for (link of guestLinks; track link.label) {
    <li class="list-item">
      <a [routerLink]="link.path" [fragment]="link.fragment" (click)="isOpen = false">
        <span>{{ link.label }}</span>
      </a>
    </li>
    }
    <li class="list-item list-item--logout">
      <a role="button" (click)="logout()">
        <span>Log out</span>
      </a>
    </li>
  </ul>
</aside>