.repo-health-container {
    padding: 10px;
    /* background-color: #0d0d0d; */
    color: #fff;
    width: 100%;
}

.header-section {
    margin-bottom: 24px;
}

.header-section h1 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 8px;
}

.header-section p {
    font-size: 16px;
    color: #bdc1ca;
}

.metrics-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 16px;
    margin-bottom: 32px;
}

.performance-trends h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
}
.charts-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 20px;
    justify-items: center;
    align-items: stretch;
    width: 90%;
    margin: 0 auto;
}

.chart-card {
    background-color: #1e1e1e;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
}

.chart-card h3 {
    text-align: center;
    margin-bottom: 10px;
    color: #e0e0e0;
    font-size: 18px;
    font-weight: 600;
}

.chart-card canvas {
    flex: 1;
}

@media (max-width: 600px) {
    .repo-health-container {
        padding: 16px;
    }

    .header-section h1 {
        font-size: 24px;
    }

    .header-section p {
        font-size: 14px;
    }

    .metrics-grid {
        grid-template-columns: 1fr;
    }

    .performance-trends h2 {
        font-size: 20px;
    }
}