.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  background-color: #171a1f;
  color: white;
}

.main-wrapper {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
  height: calc(100vh - 64px);
}

.content-area {
  flex-grow: 1;
  overflow-y: auto;
  background-color: #1f2937;
  padding: 1rem;
}

@media (min-width: 768px) {
  .content-area {
    padding: 1rem;
  }
}
